<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<h4>Movies on the list</h4>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list.movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
